@media only screen and (min-width: 768px) {
    html,
    body {
        max-width: 100%;
    }

    .js-slidein {
        opacity: 0;
        transform: translateY(100px);
        -webkit-transition: all 8000ms ease-in-out;
        transition: all 8000ms ease-in-out;
    }

    .js-slidein-visible {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }

    .header {
        background-color: rgba(255, 255, 255, 0);
        height: 100vh;
        z-index: 1;
    }

    .logo {
        position: absolute;
        top: 0px;
        padding-right: 160px;
        width: 170%;
        z-index: 2;
    }

    /* Use this for adjusting the slanted lines
https://bennettfeely.com/clippy/ */

    #about {
        height: 150vh;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
    }
    #ourteam {
        height: 100vh;
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
    }
    #services {
        height: 120vh;
        clip-path: polygon(0 19%, 100% 0, 100% 100%, 0 82%);
    }
    #contact {
        height: 100vh;
    }
    .dropdown-content {
        display: none;
        z-index: 1;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .garamond {
        font-family: garamond-premier-pro, serif;
        font-weight: 400;
    }

    ul.header-l {
        position: absolute;
        width: 50vw;
        top: 300px;
        right: 3px;
        padding-left: 20rem;
        list-style-type: none;
        z-index: 1;
        margin: 0;
        color: black;
        font-size: 50px;
        line-height: 100px;
        /* or 200% */
        text-transform: lowercase;
        font-style: normal;
    }

    a.header-li {
        color: black !important;
    }
    a.header-li:hover {
        color: #ff9900 !important;
        text-decoration: none;
    }

    .about-building {
        padding-top: 300px;
    }
    img.img-fluid.about-building {
        padding-right: 11rem;
        padding-bottom: 4rem;
        width: 200%;
    }

    .services {
        padding-top: 8rem;
    }

    .services-icon {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .services-text {
        padding-top: 1rem;
    }

    .services-more {
        padding-left: 7rem;
        list-style-type: none;
        font-size: 20px;
    }

    .section-header {
        padding-top: 10rem;
        padding-bottom: 3rem;
        font-size: 70px;
        line-height: 84px;
    }
    .section-text {
        color: white;
        font-size: 30px;
    }

    .page-section {
        padding-top: 3rem;
        padding-bottom: 5rem;
    }

    .about-row {
        padding-bottom: 5rem;
    }

    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-family: Synthese;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 35px;
        color: black;
        background-color: #fff;
        background-clip: padding-box;
        border: 1.4px solid black;
        border-radius: 0rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    img.img-fluid.header-logo {
        padding-top: 45%;
    }

    textarea.form-control {
        height: 11.7rem;
    }

    .btn-contact {
        background-color: #003399;
        font-size: 25px;
        line-height: 35px;
        padding: 1, 1, 1, 1.5;
    }

    .btn-contact:hover {
        background-color: rgb(255, 153, 0);
    }

    .contact-left {
        padding-bottom: 4rem;
    }

    .col-lg-6.text-lg-left {
        color: white;
    }

    .footer {
        padding-bottom: 1.2rem;
        background-color: #003399;
        text-color: white;
    }

    footer.footer {
        padding-top: 1rem;
    }

    #content-desktop {
        display: block;
    }
    #content-mobile {
        display: none;
    }
}
