.white {
    color: white;
}

.header {
    background-color: #003399;
    height: 100vh;
    z-index: -1;
}

body {
    background-color: #003399;
}

/* Use this for adjusting the slanted lines
https://bennettfeely.com/clippy/ */

#about {
    background-color: #003399;
    height: 150vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 82%);
}

#ourteam {
    background-color: white;
    height: 100vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

#services {
    background-color: #003399;
    height: 120vh;
    clip-path: polygon(0 19%, 100% 0, 100% 100%, 0 82%);
}

#contact {
    background-color: white;
    height: 100vh;
}

.synthese {
    font-family: synthese, sans-serif;
    font-style: normal;
    font-weight: 200;
}

.garamond {
    font-family: garamond-premier-pro, serif;
    font-weight: 400;
}

ul.header-l {
    position: absolute;
    width: 50vw;
    height: 50vh;
    top: 300px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 40px;
    line-height: 80px;
    /* or 200% */
    text-transform: lowercase;
    font-style: normal;
}

a.header-li {
    color: white !important;
}
a.header-li:hover {
    color: #ff9900 !important;
    text-decoration: none;
}

.section-header {
    padding-top: 10rem;
    font-family: Garamond Premier Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 84px;
}
.section-text {
    color: white;
    font-size: 30px;
}

.page-section {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.about-row {
    padding-bottom: 5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: Synthese;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 35px;
    color: black;
    background-color: #fff;
    background-clip: padding-box;
    border: 1.4px solid black;
    border-radius: 0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

textarea.form-control {
    height: 11.7rem;
}

.btn-contact {
    background-color: #003399;
    font-size: 25px;
    line-height: 35px;
    padding: 1, 1, 1, 1.5;
}

.contact-left {
    padding-bottom: 4rem;
}

.col-lg-6.text-lg-left {
    color: white;
}

.parallax-window {
    background-image: url("../img/wall.jpg");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    padding-bottom: 2rem;
}

.skills-icon {
    color: #8c93d1 !important;
}

.skills-icon:hover {
    color: #636aa6 !important;
}

.popover-body {
    background-color: #a7aeeb;
}

.bs-popover-right > .arrow::after {
    left: 1px;
    border-width: 0.5rem 0.5rem 0.5rem 0;
    border-right-color: #a7aeeb;
}

.project-cover {
    width: 20rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 20rem;
    height: 20rem;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #008cba;
}

.proj-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.skills-row {
    padding-top: 5rem;
}

.footer {
    padding-bottom: 1.2rem;
    background-color: #003399;
    text-color: white;
}

footer.footer {
    padding-top: 1rem;
}

.background-blue {
    background-color: rgb(189, 222, 237);
}

#content-desktop {
    display: block;
}
#content-mobile {
    display: none;
}

.robot-arm {
    padding-top: 0.5rem;
}

@media screen and (max-width: 768px) {
    #content-desktop {
        display: none;
    }
    #content-mobile {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .robot-arm {
        padding-top: 0.2rem;
        width: 70%;
    }
}
